:root {
    --main-color:#02577A;

    --secondary-color: #C4C4C4;

  }

  body,html{
    height:100%;
 }
  
  body,
  body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
  }
  
body {
    background: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}